<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Tailwind CSS -->
        <script src="https://cdn.tailwindcss.com"></script>

		<!-- Material icons -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
		rel="stylesheet">

		<title>We chat | {{ title }}</title>
	</head>
	<body class="bg-slate-900 text-white">

        {% block content %} {% endblock content %}

    </body>
</html>
